src/bme/dat2inc
src/bme/datafile

src/goatdata.c

src/bme/dat2inc
src/bme/datafile

src/goatdata.c

*.code-workspace
*.dat
*.o
*.tar.gz

.svn
.svn/**

_archives
_archives/**

SDL2-2.30.9
SDL2-2.30.9/**
