name: GT2Ultra build on push

env:
  debug: true
  AUTOMATIC_MONITOR: true
  ACTIONS_RUNNER_DEBUG: true

on:
  # Will run on every push
  push:
  # Allows you to run this workflow manually from the Actions tab when needed
  workflow_dispatch:
  # Enables calling from other workflows
  workflow_call:
    inputs:
      force_run:
        type: boolean
        default: false
concurrency:
  group: USBSID build
  cancel-in-progress: true

jobs:
  build:
    name: Build artifacts
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest, shell: bash, sys: "", env: "", arch: linux, makefile: makefile.lin}
          - { os: macos-latest, shell: bash, sys: "", env: "", arch: macos, makefile: makefile.mac }
          - { os: macos-14, shell: bash, sys: "", env: "", arch: macos-14, makefile: makefile.mac }
          - { os: macos-15-intel, shell: bash, sys: "", env: "", arch: macos-15-intel, makefile: makefile.mac }
          - { os: windows-2022, shell: 'msys2 {0}', sys: mingw64, env: x86_64, arch: win64, makefile: makefile.win }
    defaults:
      run:
        shell: ${{ matrix.shell }}
    steps:
      - name: Set lineendings
        shell: bash
        run: git config --global core.autocrlf input

      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential \
            pkg-config \
            cmake \
            dos2unix \
            libasound-dev \
            libusb-1.0-0 \
            libusb-1.0-0-dev \
            libusb-dev \
            libsdl2-2.0-0 \
            libsdl2-dev \
            libsdl2-image-2.0-0 \
            libsdl2-image-dev

      - name: Install Dependencies (macOS)
        if: ${{ contains(runner.os, 'macos') }}
        run: |
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          brew update
          brew upgrade || true
          brew uninstall --ignore-dependencies --force pkg-config@0.29.2
          brew install \
            dos2unix \
            autoconf \
            automake \
            libtool \
            pkgconf \
            coreutils \
            gnu-sed \
            libgcrypt \
            xa \
            librsvg \
            adwaita-icon-theme \
            glew \
            llvm \
            libusb \
            libusb-compat \
            sdl \
            sdl12-compat \
            sdl2 \
            sdl2_image

      - name: Set up MSYS2 (Windows)
        if: matrix.os == 'windows-2022'
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.sys }}
          update: true
          install: >-
              autotools
              base-devel
              git
              mingw-w64-${{ matrix.env }}-SDL
              mingw-w64-${{ matrix.env }}-SDL_image
              mingw-w64-${{ matrix.env }}-SDL2
              mingw-w64-${{ matrix.env }}-SDL2_image
              mingw-w64-${{ matrix.env }}-curl
              mingw-w64-${{ matrix.env }}-docbook-xml
              mingw-w64-${{ matrix.env }}-docbook-xsl
              mingw-w64-${{ matrix.env }}-flac
              mingw-w64-${{ matrix.env }}-giflib
              mingw-w64-${{ matrix.env }}-glew
              mingw-w64-${{ matrix.env }}-icoutils
              mingw-w64-${{ matrix.env }}-lame
              mingw-w64-${{ matrix.env }}-libvorbis
              mingw-w64-${{ matrix.env }}-mpg123
              mingw-w64-${{ matrix.env }}-ntldd
              mingw-w64-${{ matrix.env }}-pkg-config
              mingw-w64-${{ matrix.env }}-portaudio
              mingw-w64-${{ matrix.env }}-toolchain
              mingw-w64-${{ matrix.env }}-xa65
              mingw-w64-${{ matrix.env }}-libusb
              p7zip
              subversion
              unzip
              xmlto
              zip

      - name: Check available packages (DEBUG)
        if: env.debug == 'true'
        run: |
          echo pkgconf
          echo $(pkgconf --cflags --libs libusb-1.0)
          echo `pkgconf --cflags --libs libusb-1.0`
          echo pkg-config
          echo $(pkg-config --cflags --libs libusb-1.0)
          echo `pkg-config --cflags --libs libusb-1.0`
          echo pkgconf
          echo $(pkgconf --cflags --libs sdl)
          echo `pkgconf --cflags --libs sdl`
          echo pkg-config
          echo $(pkg-config --cflags --libs sdl)
          echo `pkg-config --cflags --libs sdl`
          echo pkgconf
          echo $(pkgconf --cflags --libs sdl2)
          echo `pkgconf --cflags --libs sdl2`
          echo pkg-config
          echo $(pkg-config --cflags --libs sdl2)
          echo `pkg-config --cflags --libs sdl2`

      - name: Build
        id: build
        run: |
          mkdir -p ${{ matrix.arch }}
          cd src/bme
          make -f ${{ matrix.makefile }} all
          cd ..
          PREFIX=../${{ matrix.arch }}/ make -f ${{ matrix.makefile }} all

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gt2ultra-${{ matrix.arch }}-build
          path: ${{ matrix.arch }}/
